body {
	background: #E5D2E6;

}


.backdrop{
 	position: absolute;
 	left: 10%;
 	width: 80%;
 	top: 10%;
 	height: 80%;
 	filter: grayscale(54%);
 	opacity: 0.4;
 	z-index: -1
 }

#main-title {
	font-size: 64px;

}

#under-main {
	padding-top: 10px;
	font-size: 20px;
}

#jumbo {
  	padding-top: 10px;
 	padding-left: 25px;
 	padding-bottom: 10px;
 	opacity: 0.90;

}

.fa {
	font-size:72px; 
	color:#484640;

}

.nav-item {
	padding-right: 15px;
}

.bg-dark-pink {
	background: #F5EAF4;
}

.row {
  	display: flex;
}

.column {
	flex: 50%;

}


#my-proj {
	font-size: 24px;
}

.col-sm-6 {
	background-color: #F5EAF4;
	opacity: 0.90;

}

.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
    position: fixed; 
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}
.carousel .one {
    background: url(img/hair.png);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .two {
    background: url(img/gir.png);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .three {
    background: url(assets/img/slide1blur.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}

.proj-pic {
    position: relative;
    width: 100%

}